/*
    Below you will be able to freely customize every aspect of the comment widget.
    Most aspects of the widget are 100% able to be customized in CSS, but for strong structural changes,
    you may have to edit the JavaScript file.

    These are all the classes and IDs at your disposal!
    Classes have a c- at the start and IDs have a c_
    You don't need every single one for a good theme, but I tried to give as many options as possible!
*/

/* Main */
@font-face {
    font-family: 'DepartureMono';
    src: url('https://dl.dropbox.com/scl/fi/10gauqfisxujz3fgsoggh/DepartureMono-Regular.woff?rlkey=u3c64t40cvia6bnsin2zunqam&dl=1') format('woff');
    font-weight: normal;
    font-style: normal;
}

#c_widget {
    box-sizing: border-box;
    height: 100%;
    width: 490px;
    overflow: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-family: 'DepartureMono', monospace;
    font-size: 16px;
    color: #334155;
    border: transparent;
    overflow: auto;
}

#c_widget button, #c_widget input[type=submit] {
    padding: 4px;
    font-family: 'DepartureMono', monospace;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.167);
    color: #334155;
    border: 1px solid rgba(126, 171, 255, 0.762);
    backdrop-filter: blur(4px);
    transition: all 0.2s ease;
}

#c_widget button:hover, #c_widget input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #7eabff;
}

#c_widget button:disabled, #c_widget input[type=submit]:disabled {
    opacity: 0.6;
}

#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover {
    color: #7eabff;
    border: 1px solid rgba(171, 200, 255, 0.5);
}

/* Input section */
#c_inputDiv {
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.501);
    border: 2px solid transparent;
    backdrop-filter: blur(12px);
    border-radius: 8px;
}

#c_widgetTitle {
    margin: -10px;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    color: white;
}

.c-inputWrapper {
    display: block;
    text-align: right;
}

.c-input {
    padding: 4px;
    color: #6ba9ff;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #7eabff;
    outline: none;
    border-radius: 4px;
}

.c-input:focus {
    border: 1px solid #7eabff;
    background-color: rgba(255, 255, 255, 0.8);
}

.c-textInput {
    width: calc(100% - 10px);
    max-width: 900px;
    resize: none;
}

#c_replyingText {
    color: #65a5ff;
    text-align: right;
}

/* Comment section */
.c-comment {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.444);
    backdrop-filter: blur(12px);
    border-radius: 8px;
}

.c-reply {
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
    border: 2px solid transparent;
    background-color: rgba(176, 208, 255, 0.4);
    border-radius: 8px;
}

.c-replyContainer {
    margin: -10px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 8px 8px;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #96c2ff;
}

.c-site {
    text-transform: uppercase;
    text-decoration: none;
    color: #7eabff;
}

.c-site:hover {
    color: #3d7bd2;
}

.c-timestamp {
    float: right;
    opacity: 0.75;
    color: #c8aaff;
}

.c-text {
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    font-family: 'DepartureMono', monospace;
    font-size: 14px;
    text-align: justify;
    color: #71acff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

/* Pagination */
#c_pagination {
    text-align: center;
}

.c-replyButton, .c-expandButton, .c-paginationButton {
    margin: 4px;
}